body {
  font-family: "Noto Sans KR", sans-serif;
}

logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#siteName {
  font-weight: bold;
  font-size: 80px;
  color: #ff7f38;
}

.logoimg {
  width: 18dvh;
}

header {
  margin: 0;
}

.navbar__search {
  width: 320px;
  height: 40px;
  background-color: white;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 2px #ff7f38;
}

.navbar__search .icon {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #ff7f38;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.navbar__search .input {
  position: relative;
  width: 210px;
  height: 30px;
  top: 4px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  background: #ff0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}
.clear::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}
a {
  text-decoration: none;
  color: #ff7f38;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
}

.navbar__menu,
.navbar__sign {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li,
.navbar__sign li {
  font-size: larger;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 15px;
}

.navbar__menu li:hover,
.navbar__sign li:hover {
  background-color: #ff7f38;
}

.navbar__menu li:hover > a,
.navbar__sign li:hover > a {
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
